<div class='banner'>
  <div class='text-wrapper ui container'>
    <h1 class='title'>Free, automated form processing for static websites</h2>
    <h3 class='subtitle'>Post your form data to Aeroform and get your customer's contact info directly to your inbox</h4>
    <%= link_to 'Get Started!', sign_up_path, class: "ui button primary large" %>
    <div class='image-wrapper'>
      <%= image_tag 'standing-11@2x.png' %>
      <%= image_tag 'sitting-4@2x.png' %>
    </div>
  </div>
</div>
<div class='feature alternate ui stripe vertical segment intro-section'>
  <div class='ui three column center aligned divided relaxed stackable grid container intro-section'>
    <!--
    <div class='row'>
      <div class='column'>
        <%= image_tag 'account.png' %>
        <div>Create a free account and get an API key</div>
      </div>
      <div class='column'>
        <%= image_tag 'switch.png' %>
        <div>Point your website contact forms to aeroform.xyz</div>
      </div>
      <div class='column'>
        <%= image_tag 'mail.png' %>
        <div>Recieve customer messages directly to your inbox</div>
      </div>
  </div>
    -->
</div>