<div id="clearance" class="sign-up">
<div class='ui container'>
  <h2><%= t(".title") %></h2>

  <%= form_for @user, :html => {:class => 'ui form'} do |form| %>
    <div class="text-field field">
      <%= form.label :email %>
      <%= form.email_field :email, type: 'email' %>
    </div>

    <div class="password-field field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <% if @user.errors.any? %>
      <div class='ui red message'>
        <p class='header'>Please fix the following error(s):</p>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="submit-field field">
      <%= form.submit class: 'ui button' %>
    </div>

    <div class="other-links">
      <p>Already have an account? <%= link_to t(".sign_in"), sign_in_path %></p>
    </div>
  <% end %>
</div>
</div>