<!DOCTYPE html>
<html>
  <head>
    <title>Aeroform</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <div class="ui inverted segment">
      <div class="ui inverted secondary pointing menu">
        <div class='ui container'>
          <%= link_to 'Home', root_path, class: "item" %>
          <%= link_to 'About', about_path, class: "item" %>
          <%= link_to 'Docs', docs_path, class: "item" %>
          <div class='right item'>
            <% if signed_in? -%>
              <%= link_to "Sign Out", sign_out_path, method: :delete, class: "ui inverted button" %>
            <% else -%>
              <%= link_to "Sign Up", sign_up_path, class: "ui inverted button" %>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
